body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  background-image: url("https://raw.githubusercontent.com/BloxyHDD/BloxyHDD.github.io/main/5055682-transformed.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  backdrop-filter: blur(4px);
  transform: translateY(-450%);
  font-family: 'Space Mono', monospace;
  font-size: clamp(2rem, 8vw, 5rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
h1:hover {
background-color: rgb(255, 255, 255);
color: black;
}
*/

h1 {
  animation: drop-in 1s ease 200ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-400%);
  }

  to {
    opacity: 1;
    transform: translateY(-450%)
  }
}

body.menu-toggled>.meta-link>span {
  color: rgb(30, 30, 30);
}

/* Links */

#source-link {
  bottom: 60px;
}

#source-link>i {
  color: rgb(94, 106, 210);
}

#yt-link>i {
  color: rgb(239, 83, 80);
}

.links {
  display: grid;
  position: fixed;
  gap: 15px;
  transform: translateY(-30%);
  text-align: center;
  animation: drop-in-links 1s ease 200ms backwards;
}

.meta-link {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  gap: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
  width: 400px;
  height: 40px;
  text-align: center;
  place-items: center;
  line-height: 40px;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link:active {
  color: #000
}

.meta-link:active:after {
  background: transparent;
}

.meta-link:hover:before {
  opacity: 1;
}

.meta-link:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.meta-link:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  border-radius: 10px;
}

.meta-link>i,
.meta-link>span {
  height: 20px;
  line-height: 20px;
}

.meta-link>span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}


@keyframes drop-in-links {
  from {
    opacity: 0;
    transform: translateY(40%);
  }

  to {
    opacity: 1;
    transform: translateY(-30%)
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

p {
align-items: center;
bottom: 10px;
display: inline-flex;
left: 5px;
padding: 10px 20px;
position: fixed;
text-decoration: none;
transition: background-color 400ms, border-color 400ms;
z-index: 10000;
color: rgba(255, 255, 255, 0.212);
font-family: "Rubik", sans-serif;

font-size: 12px;
}
